In [19]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sn
import matplotlib.pyplot as plt
import warnings
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder

In [ ]:
dataset = pd.read_csv("ML1.csv")

dataset.head()

In [21]:
dataset.shape

(2572, 17)

In [28]:
updated_df = dataset
updated_df['Life expectancy']=updated_df['Life expectancy'].fillna(updated_df['Life expectancy'].mean())
updated_df['GDP']=updated_df['GDP'].fillna(updated_df['GDP'].mean())
updated_df['Adult Mortality']=updated_df['Adult Mortality'].fillna(updated_df['Adult Mortality'].mean())
updated_df['Health expenditure']=updated_df['Health expenditure'].fillna(updated_df['Health expenditure'].mean())
updated_df['Schooling']=updated_df['Schooling'].fillna(updated_df['Schooling'].mean())
updated_df['Polio']=updated_df['Polio'].fillna(updated_df['Polio'].mean())
updated_df['Hepatitis B']=updated_df['Hepatitis B'].fillna(updated_df['Hepatitis B'].mean())
updated_df['Diphtheria']=updated_df['Diphtheria'].fillna(updated_df['Diphtheria'].mean())
updated_df['Alcohol']=updated_df['Alcohol'].fillna(updated_df['Alcohol'].mean())
updated_df['Thinness  1-19 years']=updated_df['Thinness  1-19 years'].fillna(updated_df['Thinness  1-19 years'].mean())
updated_df['Thinness 5-9 years']=updated_df['Thinness 5-9 years'].fillna(updated_df['Thinness 5-9 years'].mean())
updated_df['BMI']=updated_df['BMI'].fillna(updated_df['BMI'].mean())
updated_df.info()
updated_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2572 entries, 0 to 2571
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               2572 non-null   object
 1   Year                  2572 non-null   int64
 2   Status                2572 non-null   object
 3   Life expectancy       2572 non-null   float64
 4   Adult Mortality       2572 non-null   float64
 5   Health expenditure    2572 non-null   float64
 6   GDP                   2572 non-null   float64
 7   Schooling             2572 non-null   float64
 8   Polio                 2572 non-null   float64
 9   Hepatitis B           2572 non-null   float64
 10  Measles               2572 non-null   int64
 11  Diphtheria            2572 non-null   float64
 12  HIV/AIDS              2572 non-null   float64
 13  Alcohol               2572 non-null   float64
 14  Thinness  1-19 years  2572 non-null   float64
 15  Thinness 5-9 years    2572 non-null   float64
 16  BMI                   2572 non-null   float64
dtypes: float64(13), int64(2), object(2)
memory usage: 341.7+ KB

Country                 0
Year                    0
Status                  0
Life expectancy         0
Adult Mortality         0
Health expenditure      0
GDP                     0
Schooling               0
Polio                   0
Hepatitis B             0
Measles                 0
Diphtheria              0
HIV/AIDS                0
Alcohol                 0
Thinness  1-19 years    0
Thinness 5-9 years      0
BMI                     0
dtype: int64

In [29]:
y = updated_df.pop("Life expectancy") # define the target variable (dependent variable) as y
y

0       54.8
1       55.3
2       56.2
3       56.7
4       57.0
        ...
2567    50.0
2568    52.4
2569    54.9
2570    56.6
2571    58.0
Name: Life expectancy, Length: 2572, dtype: float64

In [30]:
df_OneHot = pd.get_dummies(updated_df[["Country","Status"]])
df_OneHot

,Country_Afghanistan,Country_Albania,Country_Algeria,Country_Angola,Country_Antigua and Barbuda,Country_Argentina,Country_Armenia,Country_Australia,Country_Austria,Country_Azerbaijan,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [33]:
updated_df = updated_df.drop(["Country", "Status"],axis=1)

In [35]:
x = updated_df.join(df_OneHot)

In [36]:
# create training and testing variables
# Understand this more!
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(2057, 209) (2057,)
(515, 209) (515,)

In [37]:
# fit a model
#Need to change catagorical values into numerical values (Country + Status)
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

In [ ]:
predictions = lm.predict(X_test)
predictions

array([81.13382888, 73.55481063, 67.92218673, 56.27972231, 45.24889968,
       74.65722558, 66.55075154, 66.2837416 , 71.14240015, 68.16120043,
       66.70005353, 76.13821629, 71.76821528, 80.60411644, 57.43160244,
       82.40939811, 73.06865388, 63.63852483, 71.96136591, 52.32950382,
       70.81392076, 66.00643331, 74.8178957 , 66.05894152, 59.0332678 ,
       83.2855724 , 74.8633521 , 71.44542798, 81.45126439, 83.28749152,
       76.16483538, 79.26250343, 73.60260291, 81.67634068, 74.9504919 ,
       80.30607595, 73.80300716, 84.03182926, 56.45357006, 70.50131914,
       64.43803631, 65.03466516, 71.70977731, 73.07093119, 65.97982123,
       71.86336725, 72.11592381, 55.60521193, 71.57979193, 75.26802784,
       71.56706969, 53.41749174, 66.71065377, 75.7494606 , 71.90188736,
       66.40741801, 64.25463144, 75.62538396, 66.26907541, 80.84614619,
       70.77615772, 68.31659642, 78.90250164, 78.89831018, 78.75232129,
       65.24391039, 68.53550095, 70.9760239 , 70.35944723, 72.92042748,
       66.4298158 , 76.5774494 , 73.41969791, 72.86131909, 82.42148839,
       60.5901425 , 82.90294883, 74.42608848, 74.96053638, 78.21427525,
       80.82074682, 80.10738933, 82.38700284, 49.93082422, 57.42787539,
       75.85803415, 47.66287563, 52.52815359, 72.83000849, 74.14233423,
       52.47825241, 65.74208521, 49.00559693, 48.00364917, 79.96117552,
       73.24944572, 82.80053276, 82.04032008, 62.88321812, 70.42028459,
       71.876825  , 60.98526746, 79.22786209, 64.31237026, 66.24054052,
       73.13547039, 71.72099643, 59.16335056, 77.61761408, 70.85193781,
       74.51974909, 51.07192534, 81.63450082, 62.50935894, 61.28662088,
       68.07302309, 77.65180892, 82.50080624, 81.69728889, 72.20280303,
       61.57477389, 71.39274223, 69.72176381, 67.1685381 , 74.18798786,
       63.43697793, 72.46813652, 72.58059697, 81.7907618 , 65.65588656,
       75.97715894, 55.6837748 , 58.05720449, 60.67656965, 47.40098266,
       65.84984325, 69.77306368, 81.19532574, 75.6288323 , 71.5973472 ,
       76.59875511, 73.07451195, 75.09588555, 75.52811891, 75.0466892 ,
       63.03089892, 50.95486375, 72.35836742, 73.50864656, 82.05544479,
       82.83414357, 71.07402416, 73.10925022, 73.09244749, 52.7357155 ,
       71.28948224, 66.96398775, 83.30816367, 72.69788908, 74.76231885,
       74.9079123 , 47.31101978, 51.52874318, 75.68718314, 70.08882525,
       78.49500844, 60.1772042 , 72.31546931, 52.86518019, 65.49090807,
       55.94493104, 72.14647665, 81.16687745, 55.61722159, 52.18792755,
       51.07890858, 63.88623211, 74.88257326, 75.99081212, 73.93819873,
       65.648211  , 76.79527918, 62.94171716, 69.01735835, 80.51567359,
       74.80879197, 54.08347931, 68.59112007, 82.44240694, 64.27043734,
       72.69837426, 70.67923568, 73.08777801, 56.1367283 , 71.09426747,
       77.81881372, 75.83432944, 73.8608863 , 69.81423706, 80.40551893,
       47.61164604, 73.99122996, 71.7220567 , 54.35844853, 69.8908103 ,
       81.25445132, 69.15693178, 75.45256174, 62.15717055, 66.38221948,
       71.00881607, 67.67994471, 65.09200816, 76.36424585, 64.24841567,
       72.76476255, 73.49467653, 73.82431497, 79.19313494, 71.40647601,
       63.73237959, 73.64319077, 53.74047505, 65.00641524, 74.58605129,
       73.52242344, 83.87649516, 47.99824409, 60.56452838, 80.89518275,
       50.8940639 , 81.88652658, 71.67713323, 78.11453572, 75.02830468,
       71.68620463, 69.66743855, 82.42096467, 67.31787528, 65.12422365,
       59.97296033, 70.94083262, 80.53856181, 81.0036345 , 74.83361907,
       60.50044857, 80.21111028, 73.01726729, 57.33301038, 79.62551106,
       58.45207009, 76.34379139, 54.58862453, 70.61673918, 73.77729988,
       69.83047819, 78.27046276, 83.75120714, 67.94091534, 77.43375227,
       81.27825391, 67.63543967, 70.10230048, 79.16856581, 65.62914547,
       59.67480779, 81.08338552, 69.8566427 , 72.27023633, 70.34142478,
       67.81021387, 74.04296602, 65.03388846, 66.92754648, 59.46545437,
       70.90142537, 62.82700419, 70.38288358, 75.4479202 , 80.40785803,
       72.8900772 , 50.87373148, 56.2574909 , 68.12947043, 79.4698416 ,
       75.11906797, 69.60742855, 70.40249338, 70.73959115, 74.27443903,
       68.87908298, 74.76805774, 51.62903746, 77.67303711, 81.65996839,
       74.52072877, 78.69092153, 75.22859242, 82.21911048, 70.95709514,
       63.38217741, 60.70738708, 58.88681707, 67.60134434, 74.0149726 ,
       80.32069932, 73.33760583, 74.69423666, 80.68306089, 71.07334401,
       60.35819673, 68.92935517, 55.7990473 , 80.71229837, 80.0703082 ,
       79.90745332, 67.26747599, 80.65317625, 65.9321602 , 52.41854076,
       62.16180367, 58.94516041, 72.31195818, 80.13988981, 63.95829405,
       53.52398381, 64.68401753, 74.04419832, 66.82498194, 77.62797566,
       79.04176072, 75.62841519, 80.92575969, 60.3119011 , 64.85880612,
       80.98297197, 75.01767463, 81.15772252, 74.77749633, 48.88063846,
       82.83654143, 54.47103842, 68.90519666, 77.09148649, 73.80025404,
       67.73691919, 74.15045849, 80.42518651, 64.90333396, 70.97973317,
       75.24317399, 71.94499279, 71.02289668, 62.24137442, 81.3820422 ,
       77.50307907, 83.72530418, 76.99269941, 81.56416028, 79.78516434,
       69.73109861, 54.96845156, 45.57237221, 49.44785057, 73.84819744,
       52.46870435, 54.64470887, 72.94664453, 78.28573753, 63.72388985,
       80.51196553, 79.61250236, 69.00427606, 74.92486942, 60.95733265,
       67.05741508, 80.10539983, 82.94261488, 69.99511512, 63.34812773,
       75.32327859, 73.090321  , 53.51257008, 62.88730624, 80.54402547,
       64.88345625, 73.15368371, 77.63664604, 76.03140894, 74.38336239,
       72.60982672, 75.03685172, 76.48986528, 74.05387593, 73.45799731,
       72.49088055, 78.04966028, 58.44836596, 74.59330051, 65.62554024,
       75.6868441 , 74.46069543, 68.60190711, 50.9899001 , 56.46762408,
       65.15018631, 64.06816008, 61.80561635, 49.27306831, 64.8495543 ,
       67.43692472, 44.53106434, 63.3021454 , 78.78041035, 63.47595578,
       71.1847964 , 58.34230793, 58.73288836, 69.90220828, 75.91143344,
       80.7356656 , 54.15223228, 74.20413189, 76.02819291, 75.96532334,
       66.40188789, 72.50931368, 63.87831602, 74.87804406, 56.19524287,
       76.43606556, 74.08819797, 55.93875977, 80.67407428, 54.72394368,
       59.45997215, 51.11056339, 73.85859243, 68.20063965, 69.3858938 ,
       60.9138746 , 66.89729459, 67.34705026, 79.88303664, 59.59818444,
       71.41866713, 75.30352527, 54.57186166, 79.67265066, 59.48427266,
       54.89638132, 77.90513174, 73.92548266, 62.89837489, 62.43757332,
       57.85849254, 79.43698003, 72.43594541, 54.49905799, 74.61100549,
       82.52126577, 67.01890878, 82.63701651, 72.32689307, 73.25820278,
       66.51160734, 71.89429104, 67.86506278, 56.37261806, 66.87507863,
       63.00442573, 80.38488252, 55.43579535, 68.41240547, 43.87343841,
       60.85081191, 68.24848937, 72.45455538, 63.46609212, 69.94557954,
       80.57766581, 70.04893708, 67.20809364, 66.50159968, 74.78855152,
       82.13019829, 68.78678979, 79.8181661 , 52.94370171, 71.28472858,
       68.05059101, 73.66843931, 54.79189873, 72.73167914, 44.27961923,
       71.49505668, 70.37764325, 79.75792563, 58.65960954, 72.54562568,
       54.93180632, 74.69412046, 72.89666589, 56.85481848, 63.27932574,
       54.87659053, 56.01998532, 64.16559799, 78.47027283, 70.31350441,
       60.84534811, 74.38757104, 55.73651176, 54.66211789, 76.30061384])